<h1><%= @tb_patient.name %></h1>
<%= link_to "Edit", edit_tb_patient_path(@tb_patient) %>

<ul class="details">
  <li><b>Age:</b> <%= @tb_patient.age %></li>

  <li><b>Sex:</b> <%= TbPatient::Sex[@tb_patient.sex.to_i] %></li>

  <li><b>Address:</b> <%= @tb_patient.address %></li>
  <li><b>Mobile:</b> <%= @tb_patient.mobile %></li>
  <li><b>Village:</b> <%= @tb_patient.village %></li>
  <li><b>Subcenter:</b> <%= (@tb_patient.subcenter.nil?) ? "None" : (link_to @tb_patient.subcenter.name, @tb_patient.subcenter) %></li>
  <li><b>ANM:</b> <%= (@tb_patient.anm.nil?) ? "None" : (link_to @tb_patient.anm.name, @tb_patient.anm) %></li>
  <li><b>Caste:</b> <%= TbPatient::Caste[@tb_patient.caste.to_i] %></li>
  <li><b>Children below 6:</b> <%= TbPatient::ChildrenBelow6[@tb_patient.children_below_6.to_i] %></li>
  <li><b>Education:</b> <%= TbPatient::Education[@tb_patient.education.to_i] %></li>
</ul>

<h3>Previous Treatments</h3>
<% if @previous_treatments.any? %>
  <ul>
    <% @previous_treatments.each do |t| %>
      <li><%= t.name %> from <b><%= t.start_date %></b> to <b><%= t.end_date %></b> |
      <%= link_to "Delete", t, :method => :delete, :confirm => "Are you sure?" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No previous treatments!</p>
<% end %>

<h3>Ongoing Treatments</h3>
<% if @ongoing_treatments.any? %>
  <ul>
    <% @ongoing_treatments.each do |t| %>
      <li><%= t.name %> from <b><%= t.start_date %></b> to <b><%= t.end_date %></b> |
      <%= link_to "Delete", t, :method => :delete, :confirm => "Are you sure?" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No treatment are currently scheduled!</p>
<% end %>

<h3>Future Treatments</h3>
<% if @future_treatments.any? %>
  <ul>
    <% @future_treatments.each do |t| %>
      <li><%= t.name %> from <b><%= t.start_date %></b> to <b><%= t.end_date %></b> |
      <%= link_to "Delete", t, :method => :delete, :confirm => "Are you sure?" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No future treatments have been scheduled yet!</p>
<% end %>

<h3>Add Treatment</h3>
<%= semantic_form_for @treatment, :input_html => { :id => "treatment_form" } do |f| %>
  <%= f.inputs do %>
    <%= f.input :start_date, :as => :string, :input_html => { :datepicker => "true" } %>
    <%= f.input :end_date, :as => :string, :input_html => { :datepicker => "true" } %>
    <%= f.input :treatment_type, :collection => TreatmentType.names %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>








<% if false %>

  <h3>Latest Visit</h3>
  <% if @visit %>
    <p><%= @visit.description %> on <b><%= @visit.date %></b></p>
  <% else %>
    <p><%= @tb_patient.name %> has not visited yet!</p>
  <% end %>

  <h4>Check In</h4>
  <% if @tb_patient.checked_in? %>
    <p><%= @tb_patient.name %> has already checked in today!</p>
  <% end %>
  <%= form_tag check_in_patient_path(@tb_patient), :method => :post, :id => "check_in" do %>
    <%= text_field_tag :description, nil, :placeholder => "Description", :disabled => @tb_patient.checked_in? %>
    <%= submit_tag "Check in", :disabled => @tb_patient.checked_in? %>
  <% end %>

<% end %>

