%h2 Week by Week Statistics

= "Patients with cell number (not ANM's number): #{@percentage}% (#{@num_patients_with_mobile}/#{@num_patients})"

- @creation_stats.each do |name, stats, chart_url|
  %h3= name
  %table
    %thead
      %tr
        %th Week
        %th New Patients
        %th Cumulative Enrollment
        %th New Appointments
        %th Visits
        %th SMS sent
    %tbody
      - stats.each do |row|
        %tr
          %td= "#{row[:week_start].strftime} -- #{row[:week_end].strftime}"
          %td= row[:patient_count] || 0
          %td= row[:patient_partial_count]
          %td= row[:appointment_count] || 0
          %td= row[:visit_count] || 0
          %td= row[:sms_count] || 0
  %img(src=chart_url)
