  <tr patient="<%= appt_today.patient.id %>" checked_in="<%= appt_today.patient.checked_in? %>">
    <td></td>
    <td><%= link_to appt_today.patient.name, appt_today.patient %></td>
    <td><%= appt_today.patient.subcenter %></td>
    <td><%= (appt_today.patient.anm.nil?) ? "None" : (link_to appt_today.patient.anm.name, appt_today.patient.anm) %></td>
    <td><%= appt_today.info %></td>
    <td><%= link_to "Edit", edit_patient_path(appt_today.patient) %></td>
    <td><%= link_to "Delete", appt_today.patient, :method => :delete, :confirm => "Are you sure you want to delete this registration?" %></td>
  </tr>
