<%= render :partial => 'search_form' %>
<h1>Patients</h1>
<p class="subhead">If the patient you are looking for is not listed below, please add the patient <%= link_to "here", new_patient_path %>.</p>

<%= will_paginate %>

<table id="patients">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Next Appointment</td>
      <td>Mobile</td>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |p| %>
      <tr patient="<%= p.id %>" checked_in="<%= p.checked_in? %>">
        <td></td>
        <td><%= link_to p.name, p %></td>
        <td>June 1, 2011 (change)</td>
        <td><%= p.mobile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<%= link_to "Add New Patient to Database", new_patient_path, :id => "add_patient" %>
