<h2>Advance Reminders</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Subcenter</td>
      <td>Village</td>
      <td>ANM Name</td>
      <td>ANM Mobile</td>
      <td>Appointment</td>
      <td>Receives Texts?</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'reminder', :collection => @advance_reminders %>
  </tbody>
</table>

<h2>Reminders</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Subcenter</td>
      <td>Village</td>
      <td>ANM Name</td>
      <td>ANM Mobile</td>
      <td>Appointment</td>
      <td>Receives Texts?</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'reminder', :collection => @reminders %>
  </tbody>
</table>

<h2>Alerts</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Subcenter</td>
      <td>Village</td>
      <td>ANM Name</td>
      <td>ANM Mobile</td>
      <td>Appointment</td>
      <td>Receives Texts?</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'reminder', :collection => @alerts %>
  </tbody>
</table>

<%= form_tag send_reminders_path, :method => :post do %>
  <% [@advance_reminders, @reminders, @alerts].flatten.each do |a| %>
    <%= hidden_field_tag "appointments[]", a.id %>
  <% end %>
  <%= submit_tag "Send SMS Reminders", :confirm => "Are you ready to send these SMS now?" %>
<% end %>
