<h1><%= @patient.name %></h1>
<%= link_to "Edit", edit_patient_path(@patient) %>

<ul class="details">
  <li><b>Husband Name:</b> <%= @patient.husband_name %></li>
  <li><b>Mother Age:</b> <%= @patient.mother_age %></li>
  <li><b>Subcenter:</b> <%= (@patient.subcenter.nil?) ? "None" : (link_to @patient.subcenter.name, @patient.subcenter) %></li>
  <li><b>Village:</b> <%= @patient.village %></li>
  <li><b>ANM:</b> <%= (@patient.anm.nil?) ? "None" : (link_to @patient.anm.name, @patient.anm) %></li>
  <li><b>ASHA:</b> <%= (@patient.asha.nil?) ? "None" : (link_to @patient.asha.name, @patient.asha) %></li>
  <li><b>Mobile:</b> <%= @patient.mobile %></li>
  <li><b>Cell Access:</b> <%= @patient.cell_access %></li>
  <li><b>Taayi Card Number:</b> <%= (@patient.taayi_card_number.nil?) ? "N/A" : @patient.taayi_card_number %></li>
  <li><b>Expected Delivery Date:</b> <%= @patient.expected_delivery_date %></li>
  <li><b>Caste:</b> <%= Patient::Caste[@patient.caste.to_i] %></li>
  <li><b>Education:</b> <%= Patient::Education[@patient.education.to_i] %></li>
  <li><b>Delivery Place:</b> <%= Patient::DeliveryPlace[@patient.delivery_place.to_i] %></li>
  <li><b>Receives Texts: </b> <%= @patient.receiving_texts? %></li>
</ul>

<h3>Latest Visit</h3>
<% if @visit %>
  <p><%= @visit.description %> on <b><%= @visit.date %></b></p>
<% else %>
  <p><%= @patient.name %> has not visited yet!</p>
<% end %>

<h4>Check In</h4>
<% if @patient.checked_in? %>
  <p><%= @patient.name %> has already checked in today!</p>
<% end %>
<%= form_tag check_in_patient_path(@patient), :method => :post, :id => "check_in" do %>
  <%= text_field_tag :description, nil, :placeholder => "Description", :disabled => @patient.checked_in? %>
  <%= submit_tag "Check in", :disabled => @patient.checked_in? %>
<% end %>

<h3>Scheduled Appointments</h3>
<% if @appointments.any? %>
  <ul>
    <% @appointments.each do |appt| %>
      <li><%= appt.name %> on <b><%= appt.date %></b> | <%= link_to "Delete", appt, :method => :delete, :confirm => "Are you sure?" %></li>
    <% end %>
  </ul>
<% else %>
  <p>No appointment have been scheduled yet!</p>
<% end %>

<h3>Add Appointment</h3>
<%= semantic_form_for @appointment, :input_html => { :id => "appointment_form" } do |f| %>
  <%= f.inputs do %>
    <%= f.input :date, :as => :string, :input_html => { :datepicker => "true" } %>
    <%= f.input :appointment_type, :collection => AppointmentType.names %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
