<h1><%= @patient.name %></h1>

<ul id="patient_details">
  <li><b>Mobile:</b> <%= @patient.mobile %></li>
  <li><b>Taayi Card Number:</b> <%= (@patient.taayi_card_number.nil?) ? "N/A" : @patient.taayi_card_number %></li>
  <li><b>Cell Access:</b> <%= @patient.cell_access %></li>
  <li><b>Caste:</b> <%= @patient.caste %></li>
</ul>

<h3>Latest Visit</h3>
<% if @visit %>
  <p><%= @visit.description %> on <b><%= @visit.date %></b></p>
<% else %>
  <p><%= @patient.name %> has not visited yet!</p>
<% end %>

<h3>Scheduled Appointments</h3>
<ul>
  <%-# For some reason, the appointments array contains an extra appointment that is nil everywhere except for the patient_id. Could not replicate this in rails console %>
  <% @appointments.reject{|a| a.date.nil?}.each do |appt| %>
    <li><%= appt.name %> on <b><%= appt.date %></b></li>
  <% end %>
</ul>

<h3>Add Appointment</h3>
<%= semantic_form_for @appointment, :input_html => { :id => "appointment_form" } do |f| %>
  <%= f.inputs do %>
    <%= f.input :date, :as => :string, :input_html => { :datepicker => "true" } %>
    <%= f.input :appointment_type, :collection => AppointmentType.names %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
