<h2>Registrations for Today</h2>

<%= will_paginate %>

<table id="patients">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Subcenter</td>
      <td>ANM Name</td>
      <td>Next Appointment</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |p| %>
      <tr patient="<%= p.id %>" checked_in="<%= p.checked_in? %>">
        <td></td>
        <td><%= link_to p.name, p %></td>
        <td><%= p.subcenter %></td>
        <td><%= link_to p.anm.name, p.anm %></td>
        <td><%= (p.next_appointment.nil?) ? "None" : p.next_appointment.info %></td>
        <td><%= link_to "Edit", edit_patient_path(p) %></td>
        <td><%= link_to "Delete", p, :method => :delete, :confirm => "Are you sure you want to delete this registration?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<%= link_to "Add New Registration to Database", new_patient_path, :id => "add_patient" %>
